<!DOCTYPE html>
<html>
<head>
	<title>GoFortune</title>
	<link rel='stylesheet' type='text/css' href='css/main.css'>
	<script src='js/angular.min.js'></script>
	<script src='js/main.js'></script>
</head>
<body ng-app="gofortune">
	<div ng-controller="cardsController">
		<h3 class='title'>GoFortune</h3>
		<div ng-show="step == 1" class='page'>
			<div class='nav'>
				Memorize a card from the deck then click
					<a href="#" class='cmd' ng-click='deal(0)'>Continue</a>
			</div>
			<div class='deck'>
				<span ng-repeat="card in cards">
					<img class='card' ng-style="{left: $index * 40 +'px'}" style='margin-top:20px'
						ng-src="playing-cards/{{card.Image}}"/>
				</span>
			</div>
		</div>
		<div ng-show="step == 2" class='page'>
			<div class='nav'>
				{{info}}
			</div>
			<a href="#" class='cmdSelect' ng-click='deal(1)' style='top:220px;left:20px'>Select</a>
			<a href="#" class='cmdSelect' ng-click='deal(2)' style='top:480px;left:20px'>Select</a>
			<a href="#" class='cmdSelect' ng-click='deal(3)' style='top:740px;left:20px'>Select</a>
			<div class='deck' style='top:88px;left:100px'>
				<span ng-repeat="card in row1">
					<img class='card' ng-style="{left: $index * 100 + 'px'}" style='margin-top:20px'
						ng-src="playing-cards/{{card.Image}}"/>
				</span>
			</div>
			<div class='deck' style='top:350px;left:100px'>
				<span ng-repeat="card in row2">
					<img class='card' ng-style="{left: $index * 100 + 'px'}"  style='margin-top:20px'
						ng-src="playing-cards/{{card.Image}}"/>
				</span>
			</div>
			<div class='deck' style='top:610px;left:100px'>
				<span ng-repeat="card in row3">
					<img class='card' ng-style="{left: $index * 100 + 'px'}"  style='margin-top:20px' 
						ng-src="playing-cards/{{card.Image}}"/>
				</span>
			</div>
		</div>
		<div ng-show="step == 3" class='page'>
			<div style='padding:20px 0px 0x 20px'>
				<div class='nav'>
					Your card:<br/>
					<img ng-src="playing-cards/{{yourCard}}" style='padding-top:10px'/>
				</div>
				<div class='nav' style='padding-top:10px'>
					Your fortune (from Twitter):<br/>
					<div style='padding-top:5px;color:green' id='fortune'>loading ...</div>
				</div>
				<div class='nav' style='padding-top:20px'>
					<a href="javascript:;" class='cmd' ng-click='startOver()'>Start Over</a>
				</div>
				<div style='padding:40px 0px 0px 20px'>
					Source code: <a href='https://github.com/gophergala2016/gofortune'>
						https://github.com/gophergala2016/gofortune</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
