<!doctype html>
<html ng-app="gofortune">
<head>
	<script src='js/angular.min.js'></script>
	<script src='js/main.js'></script>
	<link rel='stylesheet' type='text/css' href='css/main.css'>
</head>
<body>
	<div ng-controller="cardsController">
		<h3 class='title'>GoFortune</h3>
		<div ng-show="step == 1" class='page'>
			<div class='nav'>
				Memorize a card from the deck then click
					<a href="#" class='cmd' ng-click='deal(0)'>Continue</a>
			</div>
			<div class='deck'>
				<span ng-repeat="card in cards">
					<img class='card' style='margin:20px 0px 0px {{$index*40}}px' 
						ng-src="playing-cards/{{card.Image}}"/>
				</span>
			</div>
		</div>
		<div ng-show="step == 2" class='page'>
			<div class='nav'>
				Select the row that contains your card:
			</div>
			<a href="#" class='cmdSelect' ng-click='deal(1)' style='top:220px;left:20px'>Select</a>
			<a href="#" class='cmdSelect' ng-click='deal(2)' style='top:480px;left:20px'>Select</a>
			<a href="#" class='cmdSelect' ng-click='deal(3)' style='top:740px;left:20px'>Select</a>
			<div class='deck' style='top:88px;left:100px'>
				<span ng-repeat="card in row1">
					<img class='card' style='margin:20px 0px 0px {{$index*100}}px' 
						ng-src="playing-cards/{{card.Image}}"/>
				</span>
			</div>
			<div class='deck' style='top:350px;left:100px'>
				<span ng-repeat="card in row2">
					<img class='card' style='margin:20px 0px 0px {{$index*100}}px' 
						ng-src="playing-cards/{{card.Image}}"/>
				</span>
			</div>
			<div class='deck' style='top:610px;left:100px'>
				<span ng-repeat="card in row3">
					<img class='card' style='margin:20px 0px 0px {{$index*100}}px' 
						ng-src="playing-cards/{{card.Image}}"/>
				</span>
			</div>
		</div>
		<div ng-show="step == 3" class='page'>
			<div style='padding:20px 0px 0x 20px'>
				<div class='nav'>
					Your card:<br/>
					<img ng-src="playing-cards/{{yourCard}}"/>
				</div>
				<div class='nav' style='padding-top:20px'>
					Your fortune (from Twitter):<br/>
					{{fortune}}
				</div>
				<div class='nav' style='padding-top:20px'>
					<a href="#" class='cmd' ng-click='location.href=location.href'>Start Over</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
